@import url('https://fonts.googleapis.com/css?family=Alef');
@font-face {
    font-family: 'Alef', sans-serif;
}

body {
    margin: 0px auto;
    background-color: #f2f3f5;
    font-family: 'Alef';
    direction:rtl;
}
header {
    display: block;
}
header a {
    text-decoration: none;
    color: #000000;
    font-family: 'Alef';
    font-size: 28px;
    position: absolute;
    top: 65px;
    right: 95px;
}
header a span{
    color:#808080;
}

#menuButton{
    display: none;
}

main {
    display: block;
    margin: 0px auto;
    margin-top: -80px;
    width: 85%;
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
}


nav {
    position: relative;
    width: 15%;
    float: right;
    display: block;
    margin-left: 20px;
}


nav ul {
    list-style-type: none;
    display: inline;
}

nav a {
    text-decoration: none;
    color: #000000;
    font-family: 'Alef';
    font-size: 12px;
}
nav a:hover {
    color: #976146;
}

section {
    position: relative;
}

.textureViewer article{
    background-image: url('../textures/texture.svg');
    margin-top:30px;
}

/*Index page design*/
#indexCorrections article h5 {
    position: relative;
    background-color: black;
    color: #ffffff;
    padding: 0px 10px;
    margin-top:-17px;
    margin-right: 0px;
    margin-bottom: -5px;
}

#indexCorrections article{
    margin-top:-15px;
}

#indexCorrections article img {
    margin-bottom: -6px;
}

#indexCorrections article p {
    background-color: #1e1e1e;
    color: #8c8c8c;
    font-size: 12px;
    padding: 15px;
    margin: 0px;
    margin-bottom: 5px;
}

#indexCorrections p span {
    color: #ffffff;
    font-size: 10px;
}


#ivtvSection article {
    width: 254px;
    height: 390px;
}

#updateSection {
    margin-right: 10px;
}

#showsSection {
    margin-right: 65px;
}

#updateSection article {
    width: 205px;
    height: 400px;
}

#showsSection article {
    width: 145px;
    height: 160px;
}

#playerPanel{
    display: flex;
    flex-direction: column;
    position: absolute;
    left:0px;
}
#playerPanel button{
    -ms-transform: rotate(270deg); /* IE 9 */
    -webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
    transform: rotate(270deg);
    margin-top:30px;
    background-color: Transparent;
    border: none;
}

#playerPanel button:hover{
    background-color: black;
    color:#ffffff
}
/*End index page design*/

/*Contact form design*/
#contactPage form{
    display: flex;
    flex-direction: row;
}

.lableStyle{
    padding: 3px 5px;
    background-color: black;
    color:#ffffff;
    font-size: 12px;
}

.inputStyle{
    width: 100%;
    height: 20px;
    background-color: black;
    border: 0px;
    color:#ffffff;
    margin-bottom: 20px;
    font-size: 12px;
}

.ButtonStyle{
    background-color: black;
    border: 0px;
    color:#ffffff;
    float:left;
    padding:3px 5px;
    padding-left: 40px;
    margin-right: 5px;
}

#inputStyleArea {
    height: 140px;
    padding: 0px;
    resize: none;
}

#detailSection{
    width:225px;
}

#massageSection article{
    width: 365px;
    height:390px;
    margin-right: 32px;
    border: #E6E6E6 1px solid;
}
h4{
    margin-right:40px;
    margin-bottom: 10px;
}
/*End contact form design*/


/*Biography page design*/
#biography{
    margin-right:100px;
}

#biography article {
    margin-top:25px;
    width: 75%;
    height: auto;
    flex-direction: row;
    direction: rtl;
    display: flex;
}

#biography .imgCoverSvg{
    background-image: url('../textures/texture.svg');
    z-index: 3;
    height: 100%;
    width:90px;
}

#articalImg{
    background-image: url('../images/ivripic3.png');
    background-size: cover;
}

#biographyText{
    position: relative;
    background-color: #d7d7d7;
    color: #000000;
    width:auto;
    height: auto;
    padding:3.75vw 4.16vw 3.75vw 2.5vw;
    font-size:11px;
}

/*End biography design*/

/*Music page design*/
#albumsList article{
    margin-top:25px;
    width:185px;
    min-height: 390px;
}

#singlesList,#singleShow{
    display: none;
}

#singlesList article{
    margin-top:25px;
    display: block;
    width:185px;
    min-height: 390px;
    margin-right: 45px;
}

#singleShow article{
    background-image: none;
    background-color: #d7d7d7;
    margin-top:-168px;
    display: block;
    width:275px;
    min-height: 600px;
    margin-right: 45px;
}
.lyrics{
    padding: 10px 15px;
    font-size:12px;
}

.singleShowMobile{
    background-color: #d7d7d7;
    display: none;
    width:100%;
}

#singlesList .emptyTitle{
    height:20px;
    display: block;
}
.singleTitle{
    font-size:12px;
    width:fit-content;
    background-color: #d7d7d7;
    padding: 1px 20px;
    margin-bottom:3px;
    display: block;
}


#albumsList .albumTitle{
    display: block;
    background-color: black;
    color:white;
    margin-bottom: 3px;
    position:relative;
    z-index: 100;
    padding:1px 15px;
    font-size:11px;
}

.albumSingelList{
    display:none;
    padding-bottom: 20px;
    width:100%;
}

#albumsList .albumRelease2{
    display: block;
    background-color: black;
    color:white;
    padding: 1px 10px;
}

#albumsList .albumRelease{
    display: block;
    opacity:0;
}


#albumsList .albumImg{
    display: none;
}

#albumsList .albumRelease{
    float: left;
}

.albumImg img{
    display: block;
    width:100%;
    margin-top:-3px;
}

iframe{
    width:100%;
}


/*End music design*/

/*Admin Page design*/
#addNewAlbum article{
    width:225px;
    border: #E6E6E6 1px solid;
    margin-left: 20px;
}
#addNewSingle article{
    width:225px;
    border: #E6E6E6 1px solid;
    margin-left: 20px;
}

#removeSection article{
    width:225px;
    border: #E6E6E6 1px solid;
}


/*End Admin page design*/

/*Start Update Page Design*/

#updateDate article{
    width: 80px;
    min-height: 390px;
    margin-left:22px;
}

#updatePage p{
    background-color: #1e1e1e;
    color: #ffffff;
    font-size: 12px;
    padding: 10px;
    text-align: center;
    margin: 0px;
    margin-bottom: 2px;
}

#updateList article{
    width: 215px;
    min-height: 390px;
    margin-left:50px;
}

#newsPick article{
    width: 380px;
    min-height: 390px;
}

#newsPick img {
    display:block;
    width:100%;
}

#newsPick p {
    text-align: right;
}
#updateListMobile,#updateListMobile article {
    width:100%;
}
#updateListMobile,#newsPick span {
    display: none;
}
#updateListMobile article{
    width: 100%;
    height: auto;
    flex-direction: column;
    display: flex;
}

.upsPicked {
    display: none;
    padding: 0px;
}


.upsPicked img{
    width:100%;
    margin-top: -4px;
    margin-bottom: -6px;
}


/*End Update Page Design*/

#loading{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height:100%;
    background-color: rgba(250, 250, 250, 0.6);
    display: none;
    vertical-align:middle;

}

#loadBar{
    background-image: url("../images/load.gif");
    background-size: cover;
    width: 250px;
    height: 250px;
    display: block;
    margin: 0px auto;
    position: relative;
    top: 25%;
}

@media (max-width: 520px){
    header {
        display: block;
        height:39px;
        border-bottom: #b4b4b6 1px solid;
    }
    header a {
        position: absolute;
        font-size: 25px;
        top:0;
        right: 55px;
    }
    header a br{
        display: none;
    }
    #menuButton{
        display: block;
        position: absolute;
        width: 40px;
        height: 40px;
        background-image:url('../images/menu.png') ;
    }
    header svg{
        display: none;
    }

    main {
        display: flex;
        flex-direction: column;
        position: relative;
        top:100px;
    }
    nav{
        display: none;
        width:100%;
        top: -30px;
    }
    nav ul {
        list-style-type: none;
        display: inline;
        margin:0px auto;
    }
    nav ul li {
        margin:5px 30px;
    }
    nav ul li a{
        font-size:18px;
    }

    #ivtvSection,#updateSection,#showsSection{
        width: 100%;
        margin:0px 0px;
    }

    #ivtvSection img,#updateSection img{
        width: 100%;
    }

    #showsSection article,#updateSection article,#ivtvSection article{
        width: 100%;
        height: auto;
        flex-direction: column;
    }

    #biography article {
        width: 100%;
        height: auto;
        flex-direction: column;
        margin:0px auto;
    }

    #biography .imgCoverSvg{
        height: 120px;
        width:100%;
    }

    #biography #articalImg{
        background-image: url('../images/ivripic4.png');
    }

    #detailSection article{
        width: 100%;
        height: auto;
        margin:0px auto;
        margin-top: 10px;
    }
    #massageSection{
        width:100%;
    }
    #massageSection article{
        width: 100%;
        height: 230px;
        margin:0px auto;
        margin-top: 10px;
    }
    #albumsList article{
        width:85vw;
        margin:0px auto;
    }
    #albumsList .albumTitle{
        font-size:1.2em;
    }
    .returnButton{
        width: 100%;
        height:10px;
        background-color: black;
        color:red;
        font-size: 15px;
        padding: 3px 0px;
        text-align: center;
        font-weight: bold;
        padding-bottom: 20px;
    }

    #updateList,#newsPick article,#updateDate,.albumRelease{
        display: none;
    }

    #updateListMobile,#contactPage form{
        display: block;
    }
    #biography{
        margin-right:0px;
    }
    #detailSection{
        width:100%;
    }
    #playerPanel{
        display: flex;
        flex-direction: row;
        position: absolute;
        bottom:-25px;
    }
    #playerPanel button{
        -ms-transform: rotate(0deg); /* IE 9 */
        -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
        transform: rotate(0deg);
        margin-top:10px;
        background-color: Transparent;
        border: none;
    }

    #adminPage article{
        width:100%;
        padding-bottom: 25px;
    }
}

